<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="icon" href="/img/icon.svg" type="images/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<body>
    <div id="container">
        <div class="content">
            <h2>  {{.Code}} error </h2>
            <h2>{{ .Message}}</h2>
        {{if ne .User 0}}
            <a href = "/profile">
                Go back to profile
            </a>
            {{else}}
            <a href = "/home">
                Go back 
            </a>
            {{end}}
        </div>
    </div>
</body>
</html>
