*{
  margin: 0;
}

body {
  background-color:rgba(245, 202, 214, 0.989);
 }

.top-design {
  overflow: hidden;
  background-color: rgb(222, 222, 249);
  border-bottom: 1px solid black;
  height: 70px;
}

.homelink {
  margin: 10px;
  width: 70px;
  font-weight: bold;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  color:white;
  cursor: pointer;
  height:18px;
  border-radius: 4px;
  font-family: 'Source Code Pro', monospace; 
  background-color:#8e44ad;
}
   
.login-button {
  margin: 10px;
  height:18px;
  font-weight: bold;
  position:absolute;
  right:10px;
  background-color: #8e44ad;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  color:white;
  cursor: pointer;
  font-family: 'Source Code Pro', monospace; 
  border-radius: 4px;
}
.login-button-2 {
  margin: 10px;
  height:18px;
  font-weight: bold;
  position:absolute;
  right:135px;
  background-color: #8e44ad;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  color:white;
  cursor: pointer;
  font-family: 'Source Code Pro', monospace; 
  border-radius: 4px;
}

.profile-icon {
  width: 210px;
  height: 200px;
}

.post-container{
  color:#49494d;
  background-color: rgb(222, 222, 249);
  padding: 20px; width: 600px;
  margin-left: 40%;
  border:double 2px #8e44ad;
  border-radius: 10px;
  margin-top: 50px;
  font-family: 'Source Code Pro', monospace; 
}

.post-container2{
  color:#49494d;
  background-color: rgb(222, 222, 249);
  padding: 20px; width: 600px;
  margin-left: 50%;
  border:double 2px #8e44ad;
  border-radius: 10px;
  margin-top: 50px;
  font-family: 'Source Code Pro', monospace; 
}

.title{
  margin: 0 0 10px;
  font-size: 20px;
  color:#49494d;
  overflow: auto;
  text-decoration: underline;
}

.post-avatar{
  width: 35px;
  border-radius: 50%;

}

.author{
  font-weight: bold;
  font-size: 25px;
  color:#49494d;
  margin-left: 10px;
}

.image-author-location{
   display: flex;
}
.posts {
  margin-top: 15px;
  color:#49494d;
  overflow: auto;
}

.display-like-dislike{
  display:flex;
  margin-left: 53%;
  cursor: pointer;
  color: #8e44ad;
  margin-top: 0.1%;
  margin-top: 0.1%;

}

.like-dislike-button button{
  margin-top: 1%;
  cursor: pointer;
  background-color: #976fa8;
  color:#bfbbbb;
  border-radius: 3px;
  font-family:'Source Code Pro', monospace; 
  font-weight:500;
  border-color: #976fa8;
  margin-right: 4px;
  margin-left: 4px;
}

.comment-icon img{
  width:40px;
  height:40px;
}

h1 {
  text-align: center;
  font-family: 'Source Code Pro', monospace; 
  color: #313132;
}

.fifth {
  margin: 10px;
  width: 110px;
  height: 40px;
  margin-right: 15px;
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  cursor: pointer;
}

.fifth:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}

.fifth:hover {
  color: #fff;
}

.fifth:hover:after {
  width: 110%;
}

@media (max-width: 360px){
  .login-button-2{
    width: 75px;
    margin-right: 2px;
    font-size: 15px;
    right:130px
  }
  .login-button{
    width: 75px;
    font-size: 15px;
  }
  .homelink{
    width: 75px;
    font-size: 15px;
  }
  .post-container{
    margin-left: 3%;
    width: 290px;
  }
  .more-link{
    margin-left: 70%;
  } 
   .post-container{
    margin-left: 3%;
    width: 300px;
  }
  .more-link{
    margin-left: 70%;
  }
  .login-button-2{
    width: 75px;
    font-size: 15px;
  }
  .post-container2{
    margin-left: 3%;
    width: 300px;
  }
}

@media (max-width: 420px){
  .login-button-2{
    width: 75px;
    margin-right: 2px;
    font-size: 15px;
    right:130px
  }
  .login-button{
    width: 75px;
    font-size: 15px;
  }
  .homelink{
    width: 75px;
    font-size: 15px;
  }
  .post-container{
    margin-left: 3%;
    width: 300px;
  }
  .more-link{
    margin-left: 70%;
  } 
   .post-container{
    margin-left: 3%;
    width: 300px;
  }
  .more-link{
    margin-left: 70%;
  }
  .login-button-2{
    width: 75px;
    font-size: 15px;
  }
  .post-container2{
    margin-left: 3%;
    width: 300px;
  }
}

@media (max-width: 800px){
  .post-container{
    margin-left: 4%;
    width: 300px;
  }
  .post-container2{
      margin-left: 4%;
      width: 300px;
  }
  .login-button{
    width: 75px;
    font-size: 15px;
  }
  .homelink{
    width: 75px;
    font-size: 15px;
  }
  .profile-info{
    margin-left: 3px;
    font-size: 17px;
  }
  .error-message{
    margin-left: 15px;
  }
  .more-link{
    margin-left: 35%;
  }
  .display-like-dislike{
      margin-left: 4%;
  }
  .comment-post-design textarea{
      margin-left: 4%;
      width: 300px;
  }
  .comment-button button{
      margin-left: 4%;
  }
}

@media (max-width: 1080px){
  .post-container{
    margin-left: 3%;
    width: 300px;
  }
  .post-container2{
      margin-left: 3%;
      width: 300px;
  }
  .login-button{
    width: 75px;
    font-size: 15px;
  }
  .login-button-2{
    width: 75px;
    font-size: 15px;
  }
  .homelink{
    width: 75px;
    font-size: 15px;
  }
  .profile-info{
    margin-left: 3px;
    font-size: 17px;
  }
  .error-message{
    margin-left: 15px;
  }
  .more-link{
    margin-left: 25%;
  }
  .display-like-dislike{
      margin-left: 4%;
  }
  .comment-post-design textarea{
      margin-left: 4%;
      width: 340px;
  }
  .comment-button button{
      margin-left: 4%;
  }
}
